---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import logo from '../assets/images/chipsxp-research-logo.jpg';
import { navigationLinks, socialLinks } from '../consts/links';
import SearchBar from './SearchBar.astro';
import '../styles/header.css';
---

<header class="relative">
	<div class="absolute inset-0 bg-cover bg-center opacity-20" style="background-image: url('/src/assets/images/chipsxp-research-logo.jpg'); background-position: center 12%;"></div>
	<nav class="relative z-10">
		<h2>
			<a href="/">
				<Image src={logo} alt={SITE_TITLE} class="logo" />
			</a>
		</h2>
		<button class="mobile-menu-toggle" aria-label="Toggle Menu">
			<svg class="menu-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<line class="top" x1="4" y1="6" x2="20" y2="6" />
				<line class="middle" x1="4" y1="12" x2="20" y2="12" />
				<line class="bottom" x1="4" y1="18" x2="20" y2="18" />
			</svg>
		</button>
		<div class="nav-overlay"></div>
		<div class="internal-links">
			{navigationLinks.map((link) => (
				<HeaderLink href={link.href}>{link.name}</HeaderLink>
			))}
		</div>
		<div class="nav-group">
			<SearchBar />
			<div class="social-links">
				{socialLinks.map((link) => (
					<a href={link.href} target="_blank">
						<span class="sr-only">{link.srText}</span>
						<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
							><path
								fill="currentColor"
								d={link.icon}
							></path></svg
						>
					</a>
				))}
			</div>
		</div>
	</nav>
</header>


<script>
	const mobileMenuToggle = document.querySelector('.mobile-menu-toggle');
	const navOverlay = document.querySelector('.nav-overlay');
	const internalLinks = document.querySelector('.internal-links');

	function toggleMenu() {
		navOverlay?.classList.toggle('active');
		internalLinks?.classList.toggle('active');
		mobileMenuToggle?.classList.toggle('active');
	}

	mobileMenuToggle?.addEventListener('click', toggleMenu);
	navOverlay?.addEventListener('click', toggleMenu);
</script>
