---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Sidebar from '../../components/Sidebar.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import FormattedDate from '../../components/FormattedDate.astro';

// Type for research collection posts

const posts = await getCollection('research');
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

---

<!doctype html>
<html lang="en">
<head>
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<style>
.layout-container {
display: flex;
min-height: 100vh;
padding-top: 10px;
}
main {
flex: 1;
margin-left: 320px;
padding: 3em 2em;
width: 100%;
}
section {
max-width: 1200px;
width: 100%;
margin: 0 auto;
padding: 0 1rem 0 2rem;
}
ul {
display: flex;
flex-wrap: wrap;
gap: 2rem;
list-style-type: none;
margin: 0;
padding: 0;
}
ul li {
width: calc(50% - 1rem);
}
ul li * {
text-decoration: none;
transition: 0.2s ease;
}
ul li:first-child {
width: 100%;
margin-bottom: 1rem;
text-align: center;
}
ul li:first-child img {
width: 100%;
}
ul li:first-child .title {
font-size: 2.369rem;
}
ul li img {
margin-bottom: 0.5rem;
border-radius: 12px;
width: 100%;
height: auto;
object-fit: cover;
}
ul li a {
display: block;
}
.title {
margin: 0;
color: rgb(var(--black));
line-height: 1;
}
.date {
margin: 0;
color: rgb(var(--gray));
}
ul li a:hover h4,
ul li a:hover .date {
color: rgb(var(--accent));
}
ul a:hover img {
box-shadow: var(--box-shadow);
}
@media (max-width: 720px) {
main {
margin-left: 0;
padding: 2em 0.5em 2em 2.5em;
}
section {
padding: 0 1rem 0 3rem;
max-width: calc(100% + 4rem);
width: calc(100% + 4rem);
margin-left: -2rem;
}
ul {
gap: 1.5em;
}
ul li {
width: 100%;
text-align: center;
}
ul li img {
width: 100%;
}
ul li:first-child {
margin-bottom: 0;
}
ul li:first-child .title {
font-size: 1.563em;
}
}

@media (min-width: 721px) and (max-width: 1024px) {
main {
margin-left: 280px;
}
}
</style>
</head>
<body>
<Header />
<div class="layout-container">
<Sidebar />
<main>
<section>
<h2>Research Articles</h2>
<ul>
{
sortedPosts.map((post) => (
<li>
<a href={`/research/${post.id}`}>
{post.data.heroImage?.src && (
<Image
src={post.data.heroImage.src}
width={post.data.heroImage.src.width}
height={post.data.heroImage.src.height}
alt={post.data.heroImage.alt}
class="aspect-[2/1] object-cover"
/>
)}
<h4 class="title">{post.data.title}</h4>
<p class="date">
<FormattedDate date={post.data.pubDate} />
</p>
</a>
</li>
))
}
</ul>  
</section>
</main>
</div>
<Footer />
</body>
</html>
