---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Sidebar from "../../components/Sidebar.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import FormattedDate from "../../components/FormattedDate.astro";
import "../../styles/indexresearch.css";

// Type for research collection posts

const posts = await getCollection("research");
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="layout-container">
      <Sidebar />
      <main>
        <section>
          <h2>Research Articles</h2>
          <ul>
            {
              sortedPosts.map((post) => (
                <li>
                  <a href={`/research/${post.id}`}>
                    {post.data.heroImage?.src && (
                      <Image
                        src={post.data.heroImage.src}
                        width={960}
                        height={480}
                        alt={post.data.heroImage.alt}
                        class="aspect-[2/1] object-cover"
                      />
                    )}
                    <h4 class="title">{post.data.title}</h4>
                    <p class="date">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </main>
    </div>
    <Footer />
  </body>
</html>
